// Gruvbox Dark (medium contrast) color scheme
$color-background = #282828
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #7c6f64
$color-scrollbar = #928374
$color-meta = #928374
$color-meta-code = #a89984
$color-link = rgba(142, 192, 124, 0.8)
$color-text = #ebdbb2
$color-accent-1 = #fb4934
$color-accent-2 = rgba(142, 192, 124, 0.8)
$color-accent-3 = #928374
$color-quote = #fb4934
$highlight = hexo-config("highlight") || "github"
