// Gruvbox Dark (hard contrast) color scheme
$color-background = #1d2021
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #665c54
$color-scrollbar = #928374
$color-meta = #665c54
$color-meta-code = #7c6f64
$color-link = rgba(211, 134, 155, 1)
$color-text = #fbf1c7
$color-accent-3 = #a89984
$color-accent-2 = #ebdbb2
$color-accent-1 = #8ec07c
$color-quote = #b8bb26
$highlight = hexo-config("highlight") || "github"
