// Gruvbox Light (medium contrast) color scheme
// by @GabiThume (https://github.com/gabithume)
$color-background = #fbf1c7
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #7c6f64
$color-scrollbar = #928374
$color-meta = #928374
$color-meta-code = #665c54
$color-link = rgba(66, 123, 88, 1)
$color-text = #3c3836
$color-accent-3 = #a89984
$color-accent-2 = #282828
$color-accent-1 = #9d0006
$color-quote = #d65d0e
$highlight = hexo-config("highlight") || "github"
