// Gruvbox Light (hard contrast) color scheme
// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #f9f5d7
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #665c54
$color-scrollbar = #928374
$color-meta = #665c54
$color-meta-code = #504945
$color-link = rgba(143, 63, 113, 1)
$color-text = #282828
$color-accent-3 = #7c6f64
$color-accent-2 = #3c3836
$color-accent-1 = #689d6a
$color-quote = #689d6a
$highlight = hexo-config("highlight") || "github"
